* {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}

body,
input {
    cursor: url(http://k003.kiwi6.com/hotlink/vp054ir5gt/c1.png) 32 32, auto;
    cursor: -webkit-image-set(url(http://k003.kiwi6.com/hotlink/vp054ir5gt/c1.png) 1x, url(http://k003.kiwi6.com/hotlink/z6fy599487/c2.png) 2x) 32 32, auto;
}

body:active,
input:active {
    cursor: url(http://k003.kiwi6.com/hotlink/3p6w4icbzt/c1a.png) 32 32, auto;
    cursor: -webkit-image-set(url(http://k003.kiwi6.com/hotlink/3p6w4icbzt/c1a.png) 1x, url(http://k003.kiwi6.com/hotlink/6ma7828al1/c2a.png) 2x) 32 32, auto;
}

#app-cover {
    position: absolute;
    top: 60%;
    right: 0;
    left: 0;
    width: 434px;
    margin: -41px auto 0 auto;
}

#app {
    position: relative;
    width: 82px;
    height: 82px;
    border-radius: 120px;
    margin: 0 auto;
    transition: 0.15s ease width;
    z-index: 2;
    margin-top: 40px;
}

form {
    position: relative;
    height: 82px;
    cursor: auto;
    border-radius: 120px;
}

#f-element {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: 120px;
    margin-top: 25px;
}

#inp-cover {
    position: absolute;
    top: 0;
    right: 41px;
    bottom: 0;
    left: 0;
    padding: 0 35px;
    background-color: #fff;
}

input {
    display: block;
    width: 100%;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #d3f074; */
    border: 0;
    padding: 20px 0;
    margin: 0;
    margin-top: 52px;
    line-height: 1;
    background-color: transparent;
    transition: 0.15s ease margin-top;
    cursor: auto;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    width: 82px;
    height: 82px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    padding: 26px;
    margin: 0;
    border: 0;
    background-color: #6731a2;
    transition: 0.2s ease background-color;
    border-radius: 50%;
}

button.shadow {
    box-shadow: 0 10px 30px #d0d0d0;
}

button i.fas {
    display: block;
    line-height: 1;
}

#layer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #6731a2;
    transition: 0.9s ease all;
    z-index: 10;
}

#layer.sl {
    transition: 0.3s ease all;
}

#layer,
#init {
    position: fixed;
    top: 67%;
    margin: -40px auto 0 auto;
    z-index: 10;
    width: 80px;
    cursor: pointer;
}

#layer {
    right: -100px;
    left: -100px;
}

#init {
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 20;
}

#app.opened {
    width: 434px;
    /* box-shadow: 0 10px 30px #c2eb3b; */
}

.opened input.move-up {
    margin-top: 0;
}

.opened button {
    color: #c2eb3b;
    background-color: #c2eb3b;
    box-shadow: none;
    cursor: pointer;
}

#app.opened+#layer {
    width: 4000px;
    height: 4000px;
    margin-top: -2000px;
    opacity: 1;
    z-index: 0;
}

#app.opened~#init {
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-image {
    position: relative;
    text-align: center;
    bottom: 300px;
    padding-bottom: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.button-download {
    position: absolute !important;
    font-size: 100px !important;
    color: #fff !important;
    bottom: 0;
    right: 0;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    z-index: 1;
    height: 60px;
    width: 60px;
    /* Asegura que el botón esté por encima de la imagen */
}
.button-download:hover {
    background-color: #6731a2 !important;
}

.container-image img {
    max-width: 100%;
    max-height: 300px;
    /* Ajusta la altura máxima de la imagen según tus necesidades */
}

#logo-image {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: block;
    margin: 0 auto;
    width: 30%;
}


#logo-footer {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    width: 300px;
    height: auto;
    /* z-index: 1000; */
    margin: 10px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image {
    border-radius: 15px !important;
}

@media (max-width: 768px) {
    #app-cover {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    #logo-footer {
      margin-top: 10px;
    }

    #logo-image {
        padding-top: 20px;
        width: 60%;
    }
  }